# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
.tmp/
__pycache__/
*.local
*.tsbuildinfo

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/src/assets/images/section_card/Archive/
/public/projects/
/other/
/public/portfolio/*
!/public/portfolio/video/
!/public/portfolio/short_film/
/public/portfolio/video/*
!/public/portfolio/video/videography.json
/public/portfolio/short_film/*
!/public/portfolio/short_film/short-films.json
/src/pages/portfolio/generated/
